.actions {
  a {
    text-decoration: underline;
    cursor: pointer;
  }
}

.title {
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  background: #666666;
  color: white;
  margin: 60px 0 0;
}
